<form [formGroup]="editForm" (ngSubmit)="editBook()">
    <input placeholder="title" ngModel formControlName="title" >
    <input placeholder="author" ngModel formControlName="author" >
    <input placeholder="price" ngModel formControlName="price" >
    <button type="submit" [disabled]="this.editForm.invalid">Submit</button>
</form>